name: no-tang-doc-core CI

on:
  push:
    branches:
      - main
      - dev
      - mod/core
      - feat/core/NTDOC-11-Setup-CI-CD-pipeline
      - feat/core/doks-deploy-test
    paths:
      - 'no-tang-doc-core/**'
      - '.github/workflows/no-tang-doc-core-ci.yaml'
  pull_request:
    branches:
      - main
      - dev
      - mod/core
      - feat/core/NTDOC-11-Setup-CI-CD-pipeline
    paths:
      - 'no-tang-doc-core/**'

defaults:
  run:
    working-directory: no-tang-doc-core

jobs:
  # SAST 静态代码分析
  ci:
    name: Build & Test
    # mod/core和dev同步时不跑CI脚本
    if: |
      !(
        (github.head_ref == 'mod/core' && github.base_ref == 'dev') ||
        (github.head_ref == 'dev' && github.base_ref == 'mod/core')
      )
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 24
        uses: actions/setup-java@v4
        with:
          java-version: '24'
          distribution: "oracle"
          cache: maven

      - name: Build (compile only)
        run: mvn -B -U -DskipTests clean compile

      - name: Test + Converage
        run: mvn -B -U -Dspring.profiles.active-test verify

      - name: PMD
        run: mvn -B -U pmd:pmd pmd:check
        continue-on-error: true

      - name: Checkstyle
        run: mvn -B -U checkstyle:check
        continue-on-error: true

      - name: Surefire HTML report
        if: always()
        run: mvn -B -U surefire-report:report

      - name: Upload JUnit & Jacoco reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-and-coverage-reports
          path: |
            no-tang-doc-core/target/surefire-reports/
            no-tang-doc-core/target/site/surefire-report.html
            no-tang-doc-core/target/site/jacoco/
            no-tang-doc-core/target/jacoco*.xml
            no-tang-doc-core/target/site/jacoco-ut/
          compression-level: 9

      - name: Upload PMD reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: pmd-reports
          path: |
            no-tang-doc-core/target/pmd.xml
            no-tang-doc-core/target/site/pmd.html
          compression-level: 9

      - name: Upload Checkstyle reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: checkstyle-reports
          path: |
            no-tang-doc-core/target/checkstyle-result.xml
            no-tang-doc-core/target/site/checkstyle.html
          compression-level: 9
